.footer-image {
    background-image: url("https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/ce4d102c522c/assets/img/structural/footer_cityscape@2x.png");
    height: 140px;
    margin: 42px auto 18px;
background-size: 660px 140px;
    background-position: center bottom;
    background-repeat: no-repeat;
}
