
.prof-header {
  font-size: 30px;
  background: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.prof-body {
  // display: block;
  width: 500px;
  margin: 0 auto;
}

.prof-body h1 {
  font-weight: 700;
  margin-bottom: 6px;
  font-size: 21px;
  line-height: 1.28571em;
  color: rgb(211, 35, 35);
}

.prof-body .rev {
  display: flex;
  flex-direction: row;
}

.prof-body li a {
  color: rgb(0, 115, 187);
  font-weight: normal;
}
.prof-body li a:hover{
  text-decoration: underline;
}

.ul-content {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin-bottom: 10px;
}
