.review-list {
  width: 629px;
}
.rev-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-top: 1px solid #e6e6e6;
  padding-top: 20px;
}

.user-icon-item {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 4px 0 0 4px;
  background-image: url("https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_styleguide/bf5ff8a79310/assets/img/default_avatars/user_medium_square.png");
  margin-right:10px;
  margin-bottom: 20px;

}

.rev-user {
  display: flex;
  margin-right: 10px;
}

.rev-content{
  margin-left: 100px;
  width: 100px;
}
.rev-content li {
  word-wrap: break-word;
  width: 350px;
}
.rev-content div {
  display: flex;
}

.rev-user li {
  width: 30px;
}

.rev-list-item button {
  align-self: flex-end;
  color: #f15c4e;
  background-color: inherit;
  border: none;
  margin-left: 250px;
}

.rev-list-item button::after {
  content:"\f1f8";
  font-family: FontAwesome;
  font-size: 20px;

}
